* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F5F4F0;
}

/* border image description hipertext 1 */
#description img {
  border-radius: 28px;
}

/* border imagelist One */
aside #cardtravelone img {
  border-radius: 28px;
}
/* border imagelist Two */
aside #cardtraveltwo img {
  border-radius: 28px;
}
/* border imagelist Tree */
aside #cardtraveltree img {
  border-radius: 28px;
}


#page {
  width: 1120px;
  margin: 88px auto;
  background-color: rgb(197, 197, 197);
  border-radius: 26px;
  padding: 26px;
}

h1, h2, h3 {
  color:#1B1B1B ;
  font-weight: bold;
}

h1 {
  font-size: 36px;
  
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#subtitle {
  font-style: italic;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}
p, #subtitle, ul {
  color: #333333;
  font-size: 16px;
}

p {
  font-weight: normal;
}

ul {
  font-weight: bold;
}

 ul .history {
  color: #0C51A7;
}

ul #couple {
  color: #591B98;
}

ul #family {
  color: #E5245E;
}

ul #budget {
  color: #E95E10;
}